.jumbotron-main {
    margin: 130px 50px 130px 50px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #bbe1fa;
}

.jumbo-head {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 40px;
    color: #0f4c75;
}

.finance-card {
    justify-content: center;
}

.card-text {
    margin-top: -10px;
}

.wallet-title {
    color: #1b262c;
    font-size: 72px;
    margin-bottom: 0px;
}

.hub {
    margin-left: 10px;
}

.create-post {
   background-color: #bbe1fa;
   border: #0f4c75;
   width: 70%;
   padding: 25px;
   margin-bottom: 30px;
}

.create-post-title {
    margin-bottom: 20px;
}

input {
    margin-bottom: 5px;
}

textarea {
    margin-bottom: 15px;
}

.btn {
    background-color: #0f4c75;
    border: #0f4c75;
}

.card-soc {
    border-color: #bbe1fa;
}