
body{
    /* background-color: #1b262c; */

    background-color:white;
}

.logo {
    height: 50px;
    border-radius: 5px;
    margin: -10px 20px 0px 0px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #bbe1fa;
    font-size: 1.2rem;
}

.bg-dark{
    background-color:#0f4c75!important;
}


.navbar-dark .navbar-brand{
    font-family: 'Roboto Mono', monospace;
    font-size: 2.0rem;
}

.fixed-navbar-spacing{
    margin-top: 100px;
}

i {
    margin: 5px;
}

.footer {
    text-align: center;
    margin-top: 30px;
    /* background-color: #0f4c75; */
}