{% extends "layout.html" %}
{% block content %}


<h1>Transactions</h1>
<div class="container">
	<div class="row">
		<div class="col-12">
			<canvas id="income-chart"></canvas>
		</div>
	</div>

	<!-- TODO: FIXI THIS BR THING -->

	<div class="tr-table-graph">
        <div class="col-6">
            <!-- Div of cards -->
            <button type="button" class="btn btn-primary">+</button>
            <form method="POST" action="/transactions/add-transaction">
				<div class="row">
					<div class="col-12">
						<input type="text" name="trans-title" value="" placeholder="Title" class="form-control"></input>
					</div>
                    <div class="col-4">
                        <input type="number" name="trans-amount" value="" placeholder="$0.00" step="0.01" class="form-control"></input>
                    </div>
					<div class="col-8">
						<select class="form-control" id="exampleFormControlSelect1" name="trans-category" value="">
                            <option selected>Select a category...</option>
                            <option>Housing & Utilities</option>
                            <option>Transportation</option>
                            <option>Food</option>
                            <option>Clothing</option>
                            <option>Education</option>
                            <option>Entertainment</option>
                            <option>Other</option>
                        </select>
					</div>
					<div class="col-12">
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="5" type="text" name="trans-message" value="" placeholder="Notes..." class="form-control"></textarea>
					</div>
                    <div class="col-5">
				        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
				</div>
			    </form>
            {% for transaction in transactions %}
            {% set currentDate = ((transaction.date)|string).split(' ') %}
            <h6>{{ currentDate[0] }} by User</h6>
            <h4>{{ transaction.title }}</h4>
            <p>{{ transaction.category }}</p>
            {% endfor %}
        </div>
        <div class="col-6">
            <!-- Graphs -->
        </div>
    </div>
    <div class="row">
		<div class="col-12 col-lg-6">
			<canvas id="categories-barchart"></canvas>
		</div>

		<div class="col-12 col-lg-6">
			<canvas id="categories-piechart"></canvas>
		</div>



	</div>

	<button id="update">Update</button>


<!-- Find a fix for this . reloading jquery twice-->
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="../static/scripts/analysis.js"></script>







{% endblock %}