{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Transaction Details</h1>
	<div class="jumbo-cards">
		<div class="row">
			<div class="col">
				<div class="card border-primary mb-3" style="max-width: 18rem;">
					<div class="card-body text-primary">
						<h5 class="card-title">Net Transactions</h5>
                        {% if trans.sign == "neg": %}
						    <h1 class="card-text">-${{ trans.net }}</h1>
                        {% else: %}
                            <h1 class="card-text">${{ trans.net }}</h1>
                        {% endif %}
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card border-success mb-3" style="max-width: 18rem;">
					<div class="card-body text-success">
						<h5 class="card-title">Earnings</h5>
						<h1 class="card-text">+${{ trans.earnings }}</h1>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card border-danger mb-3" style="max-width: 18rem;">
					<div class="card-body text-danger">
						<h5 class="card-title">Spending</h5>
						<h1 class="card-text">-${{ trans.spending }}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="social-media">
    <h1>Feed</h1>
    <h3>Create a Post</h3>






    <form method="POST" action="/home/add-post">
        <div class="row">
            <div class="col-5">
                <input type="text" name="post-title" value="" placeholder="Title" class="form-control"></input>
            </div>
            <div class="col-3">
                <select class="form-control" id="exampleFormControlSelect1" name="post-category" value="">
                    <option selected>Select a category...</option>
                    <option>Status</option>
                    <option>Resource</option>
                    <option>Question</option>
                    <option>Advice</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="col-5">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" type="text" name="post-message" value="" placeholder="Create a post..." class="form-control"></textarea>
            </div>
        </div>
        <input type="submit" value="Post" class="btn btn-primary">
    </form>

    <div class="container">

        <ul class="list-group">
            {% for post in posts %}
            {% set currentDate = ((post.date)|string).split(' ') %}
            <li class="list-group-item">
    
                <h6>{{ currentDate[0] }} by {{post.author}}</h6>
                <h4>{{ post.message }}</h4>
                <p>{{ post.category }}</p>
    
         
            </li>
            {% endfor %}

        </ul>
    
    </div>







</div>

{% endblock %}