{% extends "layout.html" %} 
{% block content %}



<div class="container fixed-navbar-spacing">
<div class="jumbotron jumbotron-main">
    <h1 class="display-4 jumbo-head">Transaction Dashboard</h1>
	<div class="jumbo-cards">
		<div class="row">
			<div class="col-12 col-lg-4">
				<div class="card finance-card border-primary" style="max-width: 18rem;">
					<div class="card-body text-primary">
						<h5 class="card-title">Net Transactions</h5>
                        {% if trans.sign == "neg": %}
						    <h1 class="card-margin">-${{ trans.net }}</h1>
                        {% else: %}
                            <h1 class="card-margin">${{ trans.net }}</h1>
                        {% endif %}
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4">
				<div class="card finance-card border-success" style="max-width: 18rem;">
					<div class="card-body text-success">
						<h5 class="card-title">Earnings</h5>
						<h1 class="card-margin">+${{ trans.earnings }}</h1>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4">
				<div class="card finance-card border-danger" style="max-width: 18rem;">
					<div class="card-body text-danger">
						<h5 class="card-title">Spending</h5>
						<h1 class="card-margin-text">-${{ trans.spending }}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="social-media">
    <h1 class="wallet-title">The <em>Wall</em>et</h1>
    <div class="hub">
        <p><em>A hub for finance-related conversation.</em></p>

        <div class="jumbotron create-post">
            <h2 class="create-post-title">Create a Post</h2>

            <form method="POST" action="/home/add-post">
                <div class="row">
                    <div class="col-7">
                        <input type="text" name="post-title" value="" placeholder="Title" class="form-control"></input>
                    </div>
                    <div class="col-5">
                        <select class="form-control" id="exampleFormControlSelect1" name="post-category" value="">
                            <option selected>Select a category...</option>
                            <option>Status</option>
                            <option>Resource</option>
                            <option>Question</option>
                            <option>Advice</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" type="text" name="post-message" value="" placeholder="Create a post..." class="form-control"></textarea>
                    </div>
                </div>
                <input type="submit" value="Post" class="btn btn-primary">
            </form>
        </div>

        <div class="card-columns">
            {% for post in posts %}
                {% set currentDate = ((post.date)|string).split(' ') %}
                <div class="card card-soc">
                    <div class="card-body">
                        {% if (post.category | string) == "Select a category..." %}
                            <p class="card-text text-muted"></p>
                        {% else %}
                            <p class="card-text text-muted">{{post.category}}</small></p>
                        {% endif %}
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text text-muted"><em>by {{post.author}}</em></p>
                        <p class="card-text">{{ post.message }}</p>
                        <p class="card-text"><small class="text-muted">{{ currentDate[0] }}</small></p>
                    </div>
                </div>
            {% endfor %}
        
        </div>
    </div>







</div>

{% endblock %}