{% extends "layout.html" %}
{% block content %}
<!-- <img class='img-fluid' src="../static/img/showcase.jpg" alt=""> -->
<div class="showcase">
    <div class="title logo-font">FinStud</div>
    <div class="blurb">The World's First Personal Finance Web Application made for students</div>
    <div class="get-started"><a href="#info" class="btn btn-primary"> Get Started </a></div>
</div>
"
<div id="info"class="container">
    <div class="row">
        <div class="col-12 col-md-4">


            <div class="feature">
                <i class="fa fa-circle fa-stack-1x icon-background"></i>
                <i class="far fa-handshake"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vitae sed iure ut alias fugiat enim. Impedit, in incidunt! Quos cum, pariatur ut autem eveniet odio rem saepe! Rerum, corrupti.</p>
            </div>

          

        </div>
        <div class="col-12 col-md-4">
            
            <div class="feature">
                <i class="fas fa-money-check-alt"></i>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vitae sed iure ut alias fugiat enim. Impedit, in incidunt! Quos cum, pariatur ut autem eveniet odio rem saepe! Rerum, corrupti.</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="feature">
                <i class="fa fa-car"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vitae sed iure ut alias fugiat enim. Impedit, in incidunt! Quos cum, pariatur ut autem eveniet odio rem saepe! Rerum, corrupti.</p>
            </div>

        </div>
    </div>

    <div class="row">


    </div>
</div>

<div class="ending">
    <div class="container h-100">
        <div class="row align-content-center h-100">
            <div class="col-12 col-sm-6 mx-auto">Ready for Financial Independence?</div>
            <div class="col-12 col-sm-6 mx-auto"><a class="btn btn-primary" href="/signup">Sign up now!</a></div>
        </div>
    </div>
</div>

{% endblock %}