{% extends "layout.html" %} 
{% block content %}

<div class="showcase">
    <div class="title logo-font">Walli</div>
 

    <div class="blurb">
        <p><em>Personal Finance For Students, By Students</em></p>
        <br>
        <a href="#info" class="btn btn-primary"> Get Started </a>
    
    </div>
</div>


<div id="info"class="fixed-navbar-spacing">
    <h1 class="text-center">Features</h1>
    <div class="container">
          
        <div class="row">
        
            <div class="col-12 col-lg-4">
                <div class="feature">
                    <i class="fas fa-money-check-alt"></i>
                    <h4 class="feature-title">Income-Expense Tracker</h4>
                    <p>Log and track your transactions with our intuitive form, which allows you to categorize and take notes on each of your purchases and earnings. Quickly get a breakdown of your 
                        finances with our transaction dashboard.
                    </p>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="feature">
                    <i class="fas fa-chart-line"></i>
                    <h4 class="feature-title">Insightful Charts & Graphs</h4>
                    <p>Visualize your spending and earning patterns through our insightful charts and graphs.</p>
                </div>
                
            </div>

            <div class="col-12 col-lg-4">
                <div class="feature">
                    <i class="far fa-comments"></i>
                    <h4 class="feature-title">Finance-Centered Discussion</h4>
                    <p>We don't talk about personal finance enough, both online and within the education system. Our discussion board was created to address just that, allowing you to share and discuss useful resources, ask questions, and celebrate financial milestones.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='fin-ind'>
    <h3>Ready for Financial Independence?</h3>
    <a class="btn btn-primary btn-sun" href="/signup">Sign up now!</a>
</div>
    









{% endblock %}