{% extends "layout.html" %}
{% block content %}
<div class="fixed-navbar-spacing"></div>
<div class="showcase">
    <div class="title logo-font">WallI</div>
 

    <div class="blurb">
        Personal Finance For Students, By Students</em>
        <br>
        <a href="#info" class="btn btn-primary"> Get Started </a>
    
    </div>
    <div class=""></div>
</div>


<div id="info"class="fixed-navbar-spacing">
    <h1 class="text-center">Features We Offer</h1>
    <div class="container">
          
    <div class="row">
    
        <div class="col-12 col-lg-4">
            <div class="feature">
                <i class="far fa-handshake"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vitae sed iure ut alias fugiat enim. Impedit, in incidunt! Quos cum, pariatur ut autem eveniet odio rem saepe! Rerum, corrupti.</p>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="feature">
                <i class="fas fa-money-check-alt"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vitae sed iure ut alias fugiat enim. Impedit, in incidunt! Quos cum, pariatur ut autem eveniet odio rem saepe! Rerum, corrupti.</p>
            </div>
            
        </div>

        <div class="col-12 col-lg-4">
            <div class="feature">
                <i class="fa fa-car"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vitae sed iure ut alias fugiat enim. Impedit, in incidunt! Quos cum, pariatur ut autem eveniet odio rem saepe! Rerum, corrupti.</p>
            </div>
        </div>
    </div>



    <div class="row mt-5 text-center">
        <div class="col-12 col-sm-6 my-auto"><h2>Ready for Financial Independence?</h2></div>
        <div class="col-12 col-sm-6 my-auto"><a class="btn btn-primary" href="/signup">Sign up now!</a></div>
    </div>
    </div>
    

</div>









{% endblock %}