<!DOCTYPE html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <!-- Navigation Bar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/templates/homepage.html">Navbar</a>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/templates/homepage.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/transactions.html">Track</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/analysis.html">Analyze</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/learning.html">Learn</a>
                </li>
            </ul>
		</div>
	</nav>
    <div class="container">{% block content %}{% endblock %}</div>
    <div class="footer">
        <!-- Footer -->
    </div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>