{% extends "layout.html" %}
{% block content %}


<div class="container fixed-navbar-spacing">

    <h1 class='text-center'>Learning Center</h1>

    <div class="my-5">
        <h3>Youtube Channels <i class="fab fa-youtube"></i></h3>
        <ul class="list-group">
            <li class="list-group-item">
    
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 mx-auto">
                            <img class="img-fluid rounded-circle w-100" src="../static/img/youtube1.jpg" alt="">
                        </div>
    
                        <div class="col-lg-9 my-auto">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero voluptate perspiciatis deleniti dolore delectus labore tempore earum fuga suscipit? Unde dicta impedit atque sint odio ratione iure minima natus error at consequuntur sunt, ipsam veritatis et nihil illum accusantium aliquid accusamus eaque officia fugit. Dolorum temporibus numquam odit minima!</p>
                            <a href="#">Link</a>
                        </div>
                    </div>
                    
                </div>
            
    
            </li>
            <li class="list-group-item">
    
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 mx-auto">
                            <img class="img-fluid rounded-circle w-100" src="../static/img/youtube2.jpg" alt="">
                        </div>
    
                        <div class="col-lg-9 my-auto">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero voluptate perspiciatis deleniti dolore delectus labore tempore earum fuga suscipit? Unde dicta impedit atque sint odio ratione iure minima natus error at consequuntur sunt, ipsam veritatis et nihil illum accusantium aliquid accusamus eaque officia fugit. Dolorum temporibus numquam odit minima!</p>
                            <a href="#">Link</a>
                        </div>
                    </div>
                    
                </div>
    
            </li>
            <li class="list-group-item">
    
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 mx-auto">
                            <img class="img-fluid rounded-circle w-100" src="../static/img/youtube3.jpg" alt="">
                        </div>
    
                        <div class="col-lg-9 my-auto">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero voluptate perspiciatis deleniti dolore delectus labore tempore earum fuga suscipit? Unde dicta impedit atque sint odio ratione iure minima natus error at consequuntur sunt, ipsam veritatis et nihil illum accusantium aliquid accusamus eaque officia fugit. Dolorum temporibus numquam odit minima!</p>
                            <a href="#">Link</a>
                        </div>
                    </div>
                    
                </div>
    
    
            </li>
        </ul>
    </div>



    <h3>Books</h3>
    <ul class="list-group">
        <li class="list-group-item">

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 mx-auto">
                        <img class="img-fluid w-100" src="../static/img/book1.jpg" alt="">
                    </div>

                    <div class="col-lg-9 my-auto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero voluptate perspiciatis deleniti dolore delectus labore tempore earum fuga suscipit? Unde dicta impedit atque sint odio ratione iure minima natus error at consequuntur sunt, ipsam veritatis et nihil illum accusantium aliquid accusamus eaque officia fugit. Dolorum temporibus numquam odit minima!</p>
                        <a href="#">Link</a>
                    </div>
                </div>
                
            </div>


        </li>
        <li class="list-group-item">

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 mx-auto">
                        <img class="img-fluid w-100" src="../static/img/book2.jpg" alt="">
                    </div>

                    <div class="col-lg-9 my-auto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero voluptate perspiciatis deleniti dolore delectus labore tempore earum fuga suscipit? Unde dicta impedit atque sint odio ratione iure minima natus error at consequuntur sunt, ipsam veritatis et nihil illum accusantium aliquid accusamus eaque officia fugit. Dolorum temporibus numquam odit minima!</p>
                        <a href="#">Link</a>
                    </div>
                </div>
                
            </div>


        </li>
        <li class="list-group-item">

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 mx-auto">
                        <img class="img-fluid w-100" src="../static/img/book3.jpg" alt="">
                    </div>

                    <div class="col-lg-9 my-auto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero voluptate perspiciatis deleniti dolore delectus labore tempore earum fuga suscipit? Unde dicta impedit atque sint odio ratione iure minima natus error at consequuntur sunt, ipsam veritatis et nihil illum accusantium aliquid accusamus eaque officia fugit. Dolorum temporibus numquam odit minima!</p>
                        <a href="#">Link</a>
                    </div>
                </div>
                
            </div>


        </li>
    </ul>

    <div class="my-5">
        <h3>Podcasts</h3>
        <ul class="list-group">
        
            <li class="list-group-item">
    
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 mx-auto">
                            <img class="img-fluid w-100" src="../static/img/podcast1.jpg" alt="">
                        </div>
    
                        <div class="col-lg-9 my-auto">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero voluptate perspiciatis deleniti dolore delectus labore tempore earum fuga suscipit? Unde dicta impedit atque sint odio ratione iure minima natus error at consequuntur sunt, ipsam veritatis et nihil illum accusantium aliquid accusamus eaque officia fugit. Dolorum temporibus numquam odit minima!</p>
                            <a href="#">Link</a>
                        </div>
                    </div>
                    
                </div>
    
    
            </li>
            <li class="list-group-item">
    
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 mx-auto">
                            <img class="img-fluid w-100" src="../static/img/podcast2.jpg" alt="">
                        </div>
    
                        <div class="col-lg-9 my-auto">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero voluptate perspiciatis deleniti dolore delectus labore tempore earum fuga suscipit? Unde dicta impedit atque sint odio ratione iure minima natus error at consequuntur sunt, ipsam veritatis et nihil illum accusantium aliquid accusamus eaque officia fugit. Dolorum temporibus numquam odit minima!</p>
                            <a href="#">Link</a>
                        </div>
                    </div>
                    
                </div>
    
    
            </li>
            <li class="list-group-item">
    
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 mx-auto">
                            <img class="img-fluid w-100" src="../static/img/podcast3.png" alt="">
                        </div>
    
                        <div class="col-lg-9 my-auto">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vero voluptate perspiciatis deleniti dolore delectus labore tempore earum fuga suscipit? Unde dicta impedit atque sint odio ratione iure minima natus error at consequuntur sunt, ipsam veritatis et nihil illum accusantium aliquid accusamus eaque officia fugit. Dolorum temporibus numquam odit minima!</p>
                            <a href="#">Link</a>
                        </div>
                    </div>
                    
                </div>
    
    
            </li>
        </ul>
    </div>
 




</div>



{% endblock content %}