{% extends "layout.html" %}
{% block content %}
 

<div class="log-container">
    <img class="log-img" src="/static/img/logo.png">
    <form method="POST" action="/login">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 bg-col top">
                <h4 class="log-title">Login</h4>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4 bg-col">
                <input class="form-control log-input" type="text" name="username" placeholder="Username" value="">
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4 bg-col">
                <input class="form-control log-input" type="password" name="password" placeholder="Password" value="">
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4 bg-col">
                <input class="btn btn-primary submit-btn" type="submit" value="Submit">
            </div>
            <div class="col-4"></div>
        </div>
    </form>
    <div class="error-message">{{ msg }}</div>
</div>

{% endblock %}